//$("#notice").append(<%= @post.comments.last.body %>);
/*$("#comments").append('<p><strong>Posted'
+'<%=time_ago_in_words(@post.comments.last.created_at) %>'+
'</strong><br/></p><p><%= @post.comments.last.body %></p>');*/

var body='<%=@post.comments.last.body %><br>';
var timeago='<strong>  Posted <%=time_ago_in_words(@post.comments.last.created_at) %></strong><br>';


/*$("#comments").append('<p><%= @post.comments.last.body %></p>'+
'<p><strong><small>Posted <%=time_ago_in_words(@post.comments.last.created_at) %>'+
'</small></strong><br/></p>');*/

$("#comments").hide();  //to make fade in effect work
$("#comments").append(body);
$("#comments").append(timeago);
$("#comments").fadeIn();
 //location.reload(); //to reload the page
