<div id="editpage" class="center jumbotron">
<h1><small>Editing post</small></h1>

<%= render 'form' %>

<%= link_to 'Show', @post ,class:"username_link"%> |
<%= link_to 'Back', posts_path ,class:"username_link"%>
</div>
