<div id="allposts" class="center jumbotron">
<h1><small>Listing posts</small></h1>

<table id="posttable" class= "table table-striped table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>


  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.body %></td>
        <td><%= link_to 'Show', post, {class: "username_link"} %></td>
        <td><%= link_to 'Edit', edit_post_path(post),{class: "username_link"} %></td>
        <td ><%= link_to 'Destroy', post,class:"username_link", method: :delete, data: { confirm: 'Are you sure?' }%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<a class="btn btn-default username_link" href=<%=new_post_path%>>New post</a>
<!--<%= link_to 'New Post', new_post_path, {class: "username_link"} %>-->
</div>
