<!--<p id="notice"><%= notice %></p>-->

<div id="allcomments" class="center jumbotron">
<p>
  <h1><small><strong>Title:</strong>
  <%= @post.title %></small></h1>
</p>
<p>
  <h3><small><strong>Body:</strong>
  <%= @post.body %></h3><small>
</p>

<!-- iteration 4 -->
<div id="comments">
<h3>Comments</h3>
  <% @post.comments.each do |comment| %>
    <%= div_for comment do %>
     <p>
      <%= h(comment.body)%>
     </p>
     <p>
      <strong>Posted <%=time_ago_in_words(comment.created_at) %></strong>
     </p>
   <% end%>
  <% end %>
</div>

<%= form_for([@post, Comment.new],remote: true, :id => "new_comment_link") do |f| %>
  <p id="form_comment"><%= f.label :body, "New comment" %><br />
    <%= f.text_area :body %>
  </p>
  <p id="form_submit"><%= f.submit "Add Comment" %></p>
  <div id="dueon">
     <%= render "posts"%>   <!--makes it look for a _posts.html file-->
  </div>
<%end%>
<%= link_to 'Edit', edit_post_path(@post),class:"username_link" %> |
<%= link_to 'Back', posts_path ,class:"username_link"%>
</div> <!-- allcomments id -->
