@import "bootstrap-sprockets";
@import "bootstrap";

/*variables*/
$blueblog: #13568A;

/* universal */
html {
  overflow-y: scroll;
}

body {
  padding-top: 10px;
}

/* universal */

html {
  overflow-y: scroll;
}



#banner {
  background-color: #13568A;
  color: #DED7D8;
  letter-spacing: -1px;
  padding-top: 2px;
  font-weight: bold;
  //margin-left: 15px;
  &:hover {
    color: white;
    text-decoration: none;
  }
  h1,p{
    margin-left: 30px;
  }
  #login_info{font-size: small;}

}
/*#posttable{
    &:table-hover {
    color: red;
    text-decoration: none;
  }
}*/

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #679FB6;
}
//all links with this class
.username_link{
  //font-size: small;
  &:hover{
    background-color: transparent;
    color: #34DDDD;
    text-decoration: none;
  }
}

.jumbotron{
  padding-top: 15px
}

#allcomments{
  .username_link{
    font-size: small;}
  //h1{padding-bottom: 0;color: blue;}
  //p:nth-child(1){padding-bottom: 0;color: blue;}
  //p:nth-child(2){margin-top: 2px;}
  //border: 2px ridge $blueblog;
}
#comments {
    //border: 2px ridge $blueblog;
    margin-left: 10px;
    h3{color: $blueblog;}
    p:nth-child(1){margin:0}
    p:nth-child(2){
      margin-left: 5px;
      font-size: x-small;
    }
}
#form_comment{
  font-size: small;
  label{color: $blueblog;}
}
#form_submit{
  font-size: small;
  :hover {
    color: $blueblog;
    text-decoration: none;
    background-color: #679FB6;
  }
}
