<ul class="center jumbotron">
<header id="banner" class="navbar navbar-fixed-top navbar-inverse">
<!-- login code -->
<p  id="login_info" class="navbar-text pull-right">
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link username_link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link username_link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link username_link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link username_link'  %>
<% end %>
</p> <!-- login code -->
    <h1>BLOG APPLICATION</h1>
    <p>
        <%= link_to "Home",   posts_path,class:"username_link" %>
    </p>
    <!-- authentication code-->
    <!--<p class="navbar-text pull-right">-->


</header>
</ul>
